<html>
<head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <style>
       .fa {
  padding: 10px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 10%;
}
/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
      </style>
</head>


<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="text-start m-4" class="nav-item" class="btn btn-primary">
          <a class="btn btn-primary" class="nav-link active" aria-current="true" href="mailto:niteshdeepak2002@example.com">Contact Us</a>
        </li>
        
      </ul>
    </div>
    <div class="card-body">
      
      
      <a href="https://ncrb.gov.in/en/node/2318#:~:text=National%20Cyber%20Crime%20Reporting%20Portal,National%20Crime%20Records%20Bureau" class="btn btn-primary">Report a Cyber Crime</a>
    </div>

    <div class="text-center m-4">
        <p class="card-text" class="fw-bold">Links To Awareness</p>
        <a href="https://www.facebook.com/CyberDostI4C/" class="fa fa-facebook"></a>
        <span>_</span>
        <a href="https://twitter.com/CyberDost" class="fa fa-twitter"></a>
    </div>
  </div>
  </body>
  </html>