<html>

<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Your Not Alone</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    <style>
        #gris{
            height:200px;
            width:400px;

        }

    </style>
</head>
<body class="p-3 mb-2 bg-primary-subtle text-emphasis-primary">

    {%include "nav.html"%}
    <div class="border border-3" class="m-3">
        <b>Whether it is anxiety, depression, or anything else can impedes mental health, games are a solid way to help cope and they also can be an escape when needed. For this list, we want to offer a variety of games to choose from that can tackle different areas of mental health in a meaningful and impactful way.</b>
    </div>
    <div>
    <ol>
        <li class="border border-3">
            <b>Florence</b>
            <div>
            <img src="/static/florence.jpeg">
            <p>Florence is a beautiful story that centers around a character that feels stuck, a feeling most of us have related to at one time or another. Florence's life changes when she meets a cello player named Krish as he helps her see the world through an entirely new lens, as well as how she sees herself. </p<>
            </div>
        </li>
        <li class="border border-3">
            <b>Night in the Woods</b>
            <div>
                <img src="/static/woods2.avif">
                <p>Night in the Woods doesn't just target one aspect of mental health. It tackles psychological disorders like bi-polar, it sooths depression, and it helps players even learn new things about the current state they are in. </p<>
            </div>
        </li>
        <li class="border border-3">
            <b>Hidden Folks</b>
            <div>
                <img src="/static/hidden.jpg">
                <p>Hidden Folks has a unique hand-drawn art style that is honestly very easy to get lost in. While not a narratively-focused game like some of the picks above, this is a good game to help decompress and hone down anxiety. 

                    With Hidden Folks, you will interact with the in-game environment to uncover targets, each with unique interactions and results. This game helps focus the mind, hone in on one particular task, and helps give your mental health a chance to reset, even if just for a little bit. </p<>
            </div>
        </li>
        <li class="border border-3">
            <b>An Aspie Life </b>
            <div>
                <img src="/static/aspie.jpeg">
                <p>An Aspie Life hits home for me on a very personal level. While I don't have autism, my husband does, and seeing the world through his eyes is beautiful, but seeing how some people few autism itself is heartbreaking. </p<>
            </div>
        </li>
        <li class="border border-3">
            <b>Gris</b> 
            <div >
                <img src="/static/gris.jpg" id="gris">
                <p>Gris is another award-winning title and one of those mind-blowing experiences that stays with you long after the end credits roll. In this story, you will become a hopeful young girl named Gris who is suddenly at a loss in her life following a traumatic experience. </p<>
            </div>
        </li>
    </ol>
    
</div>
    {%include "footer.html"%}
</body>
</html>